<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div> 
        Edit Page
    </div>
    <div>
        <form method="post">
            <table>
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" name="name" />
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <input type="email" name="email" />
                    </td>
                </tr>
                <tr>
                    <td>Salary</td>
                    <td>
                        <input type="text" name="salary" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="save" />
                    </td>
                </tr>
            </table>

        </form>
    </div>
</body>
</html>
